<div class="user">
<div class="overlay" onClick="style.pointerEvents='none'"></div>

 </div>
  </div>
<%= javascript_tag do %>
  window.hosts = JSON.parse('<%= raw @hosts.to_json %>');
<% end %>

<!-- <div id="pop_event">
  <h2><%= @user.first_name + " " + @user.last_name %></h2>
   <h2> </h2>
    <button class="restart2">
      <h3>Join</h3>
    </button>
  


</div>
 -->
 
<!-- refactor script tags later -->
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async></script>

<!-- script tags -->

<!-- if a host -->
<% if current_user.true_or_false %>
<div id="map"></div>
 
<script>

function renderMarks(options) {
  var lat = options.lat;
  var lng = options.lng;
  var game = options.game;
  var places = options.places;
  var user = options.id;
  var eventID = options.eventID;
  var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map,
    title: 'Your map'
  });

var contentString = '<h2>' + game + "<br />" + " Places: " + places + "<br />" + "<a class='button1' href='/users/"+ user +"/events/"+eventID+"'>" + "Join" + '</a>' + '</h2>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });        
 
}

var mapDiv = document.getElementById('map');
var map, infowindow;

function initMap(){
    
  map = new google.maps.Map(mapDiv, {
    center: {lat: <%=@user["lat"]%>,  lng: <%=@user["lng"]%>},
    zoom: 13
  });
  
  var userMarker = new google.maps.Marker({
      position: {lat:<%=@user["lat"]%>, lng:<%=@user["lng"]%>},
      map: map,
      title: 'Your map'
    });

  var contentString = '<h2>' + 'No event' + '</h2>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  userMarker.addListener('click', function() {
    infowindow.open(map, userMarker);
  });

  <% @events.each_with_index do |event, count| %>
    var eventOptions = {
      lat: <%= @lats[count] %>,
      lng: <%= @lngs[count] %>,
      game: <%= raw event.game.to_json %>,
      places: <%= raw event.number_places.to_json %>,
      id: <%= @user.id %>,
      eventID: <%= event.id %>
    }
    renderMarks(eventOptions);

    
  <% end %>
}  
      
</script>




<!-- if a guest -->




  <% else %>
    
    <div id="map"></div>
 
<script>

function renderMarks(options) {
  var lat = options.lat;
  var lng = options.lng;
  var game = options.game;
  var places = options.places;
  var user = options.id;
  var eventID = options.eventID;
  var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map,
    title: 'Your map'
  });

  var contentString = '<h2>' + game + "<br />" + " Places: " + places + "<br />" + "<a class='button1' href='/users/"+ user +"/events/"+eventID+"'>" + "Join" + '</a>' + '</h2>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });        
 
}

var mapDiv = document.getElementById('map');
var map, infowindow;

function initMap(){
    
  map = new google.maps.Map(mapDiv, {
    center: {lat: <%=@user["lat"]%>,  lng: <%=@user["lng"]%>},
    zoom: 13
  });
  
  

  <% @events.each_with_index do |event, count| %>
    var eventOptions = {
      lat: <%= @lats[count] %>,
      lng: <%= @lngs[count] %>,
      game: <%= raw event.game.to_json %>,
      places: <%= raw event.number_places.to_json %>,
      id: <%= @user.id %>,
      eventID: <%= event.id %>
    }
    renderMarks(eventOptions);
  <% end %>
}  
      
</script>

<% end %>

<div id="find_some_one">
  <h3>Find your neighbor !</h3>
  <p>Look who is around you and join the game of your team!</p>
</div>
